/* FONT */

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/poppins-semibold.woff') format('woff'),
        url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-display: swap;
}

/* VARIABLES */

:root {
    --white: #FFFFFF;
    --dark-color: #1E1E32;
    --font: 'Poppins';
}

/* RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/* BODY */

body {
    background: url('../assets/images/background-image.jpg') 50% / cover no-repeat, #1E1E32;
    background-blend-mode: saturation, normal;
    display: grid;
    place-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}


/* NAV */

.nav {

    .nav__link {
        color: var(--white);
        font-size: 1rem;
        font-weight: 600;
    }

    .nav__social {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

}

/* HEADER */

.header {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    .header__title {
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 600;
    }

    .header__subtitle {
        color: var(--white);
        font-size: 1rem;
        font-weight: 600;
    }

}

/* MAIN */

.main {

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;

    .project {

        .project__figure {

            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 1.5rem;

        }

        .project__image {
            border-radius: 10px;
            object-fit: cover;
            aspect-ratio: 16 / 9;
            border: 2px solid rgba(138, 92, 255, 0.4);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            object-position: top;
        }

        .project__icons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .project__tech-icons {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            .project__social-icons {
                display: flex;
                align-items: center;
                gap: 1rem;
            }



            .tech-icon {
                position: relative;
                display: inline-block;
            }

            .tooltip {
                display: none;
                visibility: hidden;
                width: 120px;
                background-color: rgba(0, 0, 0, 0.7);
                color: #fff;
                text-align: center;
                border-radius: 5px;
                padding: 5px;
                position: absolute;
                z-index: 1;
                bottom: 100%;
                left: 50%;
                margin-left: -40px;
                opacity: 0;
                transition: opacity 0.3s;
            }



            .project__social-link {
                position: relative;
            }


        }

    }

    .main__grid,
    .main__subgrid {
        display: grid;
        row-gap: 3rem;
    }

}

/* TABLET */
@media (min-width: 768px) {

    .main {
        grid-template-columns: 1fr;
    }

    .main__grid,
    .main__subgrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

}

/* DESKTOP */

@media (min-width: 1024px) {

    .container {
        max-width: 1400px;
        padding-inline: 4.2rem;

    }

    .main {

        grid-template-columns: 1fr;
        gap: 2rem;

        .project {

            .tech-icon .tooltip,
            .project__social-link .tooltip {
                display: block;
            }

            .tech-icon:hover .tooltip,
            .project__social-link:hover .tooltip {
                visibility: visible;
                opacity: 1;
            }

            .project__image {
                transition: transform ease .3s, box-shadow ease .3s, object-position ease 2s;
            }

            .project__image:hover {
                box-shadow: 0px 0px 70px 0px rgba(119, 0, 255, 0.4);
                object-position: bottom;
            }
        }

    }

    .main__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

    }

    .main__subgrid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

}